{% extends 'base.html.twig' %}
{% block title %}{% if is_new is defined %}Добавление{% else %}Редактирование{% endif %} документа{% endblock %}

{% block content %}
    <h3>Просмотр документа</h3>
    <div class="view-wrapper">
        <div class="form-row">
            <label>Название документа</label>
            <span>{{ doc.name }}</span>
        </div>
        <div class="form-row">
            <label>Описание документа</label>
            <span>{{ doc.description}}</span>
        </div>
        <div class="form-row">
            <label>Файлы</label>
            {% for item in doc.attachment %}
                <div class="file-wrap">
                    {% if item.isimage %}
                        <img src="/uploads/{{ item.name }}">
                    {% else %}
                        <div class="notimage-preview">
                            Нет превью
                        </div>
                    {% endif %}
                    <span><a target="_blank" href="/uploads/{{ item.name }}">{{ item.origname }}</a></span>
                </div>
            {% endfor %}
        </div>
        <div class="clearfix"></div>
        <div class="buttons-list">
            <a href="{{ path('document_list') }}" class="btn btn-primary" role="button">К списку</a>
            <a href="{{ path('document_update', {id: doc.id}) }}" class="btn btn-primary" role="button">Редактировать</a>
            <a href="{{ path('document_remove', {id: doc.id}) }}" class="btn btn-primary" role="button">Удалить</a>
        </div>
    </div>

{% endblock %}

