<div class="form-wrapper form-padding">
    <div class="alert alert-danger d-none">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        <h3 class="text-danger"><i class="fa fa-exclamation-triangle"></i> Ошибка</h3>
        <span class="alert-message"></span>
    </div>
    {% form_theme form 'formTheme/form_div_layout.html.twig' %}
    {{ form_start(form) }}
    <div class="form-title">
        Заполните реквизиты нотариальной палаты
    </div>
    <div class="label-markup">
        Наименования нотариальной палаты
    </div>
    <div class="form-row">
        <div class="col-md-6">
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.abbr) }}
        </div>
    </div>
    <div class="label-markup">
        Реквизиты нотариальной палаты
    </div>
    <div class="form-row">
        <div class="col-md-6">
            {{ form_row(form.address) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.ur_address) }}
        </div>
    </div>
    <div class="form-row nomargin">
        <div class="col-md-6">
            {{ form_row(form.email) }}
        </div>
    </div>
    <div class="form-row nomargin">
        <div class="col-md-6">
            {{ form_row(form.phone) }}
        </div>
    </div>
    <div class="form-row nomargin">
        <div class="col-md-12">
            {{ form_row(form.description) }}
        </div>
    </div>
    <div class="label-markup">
        График работы
    </div>
    <div class="label-helper">
        Для выбора нужного рабочего дня нажмите на чекбокс, а затем введите рабочее и обеденное время.
    </div>
    <div class="form-row nomargin">
        <div class="col-md-12">
            <input type="hidden" class="schedule-data" value="{{ schedule|json_encode }}">
        <table class="table table-bordered shedule">
            <thead>
                <tr>
                    <th scope="col" class="checkbox-wrapper">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input shedule-checkall-x">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description"></span>
                        </label>
                    </th>
                    <th scope="col">Рабочие дни</th>
                    <th scope="col">Рабочее время</th>
                    <th scope="col">Обеденное время</th>
                    <th scope="col">Без обеда</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="checkbox-wrapper">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description"></span>
                        </label>
                    </td>
                    <td>
                        Понедельник
                    </td>
                    <td>
                        <div class="form-row nomargin">
                            <div class="label-time">от</div>
                            <div class="input-time">
                                <input type="text" id="begin_work_monday" readonly name="shedule[begin_work][]" placeholder="08:00" class="form-control timepicker" autocomplete="off">
                                <span class="bar"></span>
                                <label for="begin_work_monday"></label>
                            </div>
                            <div class="label-time"> - до</div>
                            <div class="input-time">
                                <input type="text" id="end_work_monday" readonly name="shedule[end_work][]" placeholder="17:00" class="form-control timepicker" autocomplete="off">
                                <span class="bar"></span>
                                <label for="end_work_monday"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-row nomargin">
                            <div class="label-time">от</div>
                            <div class="input-time">
                                <input type="text" id="begin_work_monday" readonly name="shedule[begin_lunch][]" placeholder="08:00" class="form-control timepicker" autocomplete="off">
                                <span class="bar"></span>
                                <label for="begin_work_monday"></label>
                            </div>
                            <div class="label-time"> - до</div>
                            <div class="input-time">
                                <input type="text" id="end_work_monday" readonly name="shedule[end_lunch][]" placeholder="17:00" class="form-control timepicker" autocomplete="off">
                                <span class="bar"></span>
                                <label for="end_work_monday"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <input type="checkbox" data-size="small" data-on-text="Да" data-off-text="Нет" class="checkbox-switch lunch-off-x">
                    </td>
                </tr>
                <tr>
                    <td class="checkbox-wrapper">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description"></span>
                        </label>
                    </td>
                    <td>
                        Вторник
                    </td>
                    <td>
                        <div class="form-row nomargin">
                            <div class="label-time">от</div>
                            <div class="input-time">
                                <input type="text" id="begin_work_monday" readonly name="shedule[begin_work][]" placeholder="08:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="begin_work_monday"></label>
                            </div>
                            <div class="label-time"> - до</div>
                            <div class="input-time">
                                <input type="text" id="end_work_monday" readonly name="shedule[end_work][]" placeholder="17:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="end_work_monday"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-row nomargin">
                            <div class="label-time">от</div>
                            <div class="input-time">
                                <input type="text" id="begin_work_monday" readonly name="shedule[begin_lunch][]" placeholder="08:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="begin_work_monday"></label>
                            </div>
                            <div class="label-time"> - до</div>
                            <div class="input-time">
                                <input type="text" id="end_work_monday" readonly name="shedule[end_lunch][]" placeholder="17:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="end_work_monday"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <input type="checkbox" data-size="small" data-on-text="Да" data-off-text="Нет" class="checkbox-switch lunch-off-x">
                    </td>
                </tr>
                <tr>
                    <td class="checkbox-wrapper">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description"></span>
                        </label>
                    </td>
                    <td>
                        Среда
                    </td>
                    <td>
                        <div class="form-row nomargin">
                            <div class="label-time">от</div>
                            <div class="input-time">
                                <input type="text" id="begin_work_monday" readonly name="shedule[begin_work][]" placeholder="08:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="begin_work_monday"></label>
                            </div>
                            <div class="label-time"> - до</div>
                            <div class="input-time">
                                <input type="text" id="end_work_monday" readonly name="shedule[end_work][]" placeholder="17:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="end_work_monday"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-row nomargin">
                            <div class="label-time">от</div>
                            <div class="input-time">
                                <input type="text" id="begin_work_monday" readonly name="shedule[begin_lunch][]" placeholder="08:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="begin_work_monday"></label>
                            </div>
                            <div class="label-time"> - до</div>
                            <div class="input-time">
                                <input type="text" id="end_work_monday" readonly name="shedule[end_lunch][]" placeholder="17:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="end_work_monday"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <input type="checkbox" data-size="small" data-on-text="Да" data-off-text="Нет" class="checkbox-switch lunch-off-x">
                    </td>
                </tr>
                <tr>
                    <td class="checkbox-wrapper">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description"></span>
                        </label>
                    </td>
                    <td>
                        Четверг
                    </td>
                    <td>
                        <div class="form-row nomargin">
                            <div class="label-time">от</div>
                            <div class="input-time">
                                <input type="text" id="begin_work_monday" readonly name="shedule[begin_work][]" placeholder="08:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="begin_work_monday"></label>
                            </div>
                            <div class="label-time"> - до</div>
                            <div class="input-time">
                                <input type="text" id="end_work_monday" readonly name="shedule[end_work][]" placeholder="17:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="end_work_monday"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-row nomargin">
                            <div class="label-time">от</div>
                            <div class="input-time">
                                <input type="text" id="begin_work_monday" readonly name="shedule[begin_lunch][]" placeholder="08:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="begin_work_monday"></label>
                            </div>
                            <div class="label-time"> - до</div>
                            <div class="input-time">
                                <input type="text" id="end_work_monday" readonly name="shedule[end_lunch][]" placeholder="17:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="end_work_monday"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <input type="checkbox" data-size="small" data-on-text="Да" data-off-text="Нет" class="checkbox-switch lunch-off-x">
                    </td>
                </tr>
                <tr>
                    <td class="checkbox-wrapper">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description"></span>
                        </label>
                    </td>
                    <td>
                        Пятница
                    </td>
                    <td>
                        <div class="form-row nomargin">
                            <div class="label-time">от</div>
                            <div class="input-time">
                                <input type="text" id="begin_work_monday" readonly name="shedule[begin_work][]" placeholder="08:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="begin_work_monday"></label>
                            </div>
                            <div class="label-time"> - до</div>
                            <div class="input-time">
                                <input type="text" id="end_work_monday" readonly name="shedule[end_work][]" placeholder="17:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="end_work_monday"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-row nomargin">
                            <div class="label-time">от</div>
                            <div class="input-time">
                                <input type="text" id="begin_work_monday" readonly name="shedule[begin_lunch][]" placeholder="08:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="begin_work_monday"></label>
                            </div>
                            <div class="label-time"> - до</div>
                            <div class="input-time">
                                <input type="text" id="end_work_monday" readonly name="shedule[end_lunch][]" placeholder="17:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="end_work_monday"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <input type="checkbox" data-size="small" data-on-text="Да" data-off-text="Нет" class="checkbox-switch lunch-off-x">
                    </td>
                </tr>
                <tr>
                    <td class="checkbox-wrapper">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description"></span>
                        </label>
                    </td>
                    <td>
                        Суббота
                    </td>
                    <td>
                        <div class="form-row nomargin">
                            <div class="label-time">от</div>
                            <div class="input-time">
                                <input type="text" id="begin_work_monday" readonly name="shedule[begin_work][]" placeholder="08:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="begin_work_monday"></label>
                            </div>
                            <div class="label-time"> - до</div>
                            <div class="input-time">
                                <input type="text" id="end_work_monday" readonly name="shedule[end_work][]" placeholder="17:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="end_work_monday"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-row nomargin">
                            <div class="label-time">от</div>
                            <div class="input-time">
                                <input type="text" id="begin_work_monday" readonly name="shedule[begin_lunch][]" placeholder="08:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="begin_work_monday"></label>
                            </div>
                            <div class="label-time"> - до</div>
                            <div class="input-time">
                                <input type="text" id="end_work_monday" readonly name="shedule[end_lunch][]" placeholder="17:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="end_work_monday"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <input type="checkbox" data-size="small" data-on-text="Да" data-off-text="Нет" class="checkbox-switch lunch-off-x">
                    </td>
                </tr>
                <tr>
                    <td class="checkbox-wrapper">

                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description"></span>
                        </label>
                    </td>
                    <td>
                        Воскресенье
                    </td>
                    <td>
                        <div class="form-row nomargin">
                            <div class="label-time">от</div>
                            <div class="input-time">
                                <input type="text" id="begin_work_monday" readonly name="shedule[begin_work][]" placeholder="08:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="begin_work_monday"></label>
                            </div>
                            <div class="label-time"> - до</div>
                            <div class="input-time">
                                <input type="text" id="end_work_monday" readonly name="shedule[end_work][]" placeholder="17:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="end_work_monday"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-row nomargin">
                            <div class="label-time">от</div>
                            <div class="input-time">
                                <input type="text" id="begin_work_monday" readonly name="shedule[begin_lunch][]" placeholder="08:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="begin_work_monday"></label>
                            </div>
                            <div class="label-time"> - до</div>
                            <div class="input-time">
                                <input type="text" id="end_work_monday" readonly name="shedule[end_lunch][]" placeholder="17:00" class="form-control" autocomplete="off">
                                <span class="bar"></span>
                                <label for="end_work_monday"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <input type="checkbox" data-size="small" data-on-text="Да" data-off-text="Нет" class="checkbox-switch lunch-off-x">
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="label-helper-bottom nomargin">
        <span class="required"> </span> Невыбранные дни будут считаться выходными.
    </div>
    <div class="form-row">

    </div>
    <div class="label-markup">
        Фотографии здания палаты
    </div>

    <div class="form-row">
        <div class="col-md-12">
            <input type="hidden" class="uploads" value="{{ files|json_encode }}">
            <div class="upload-dropzone">
                <div class="dropify-message dropzone-click-x dz-default dz-message">
                    <span class="file-icon"></span>
                    <p>Перетащите файл или кликните для загрузки</p>
                </div>
            </div>
        </div>
    </div>
    {% if show_button is defined %}
    <div class="form-row">
        <input type="submit" class="btn btn-primary" value="Сохранить">
    </div>
    {% endif %}


    {{ form_end(form) }}
</div>
